
$body-background: #f3f3f3 !default;
$body-font-family: 'Roboto Slab', serif !default;
$global-weight-normal: 400 !default;
$global-lineheight: 1.5 !default;
$body-font-color: #000000 !default;
$base-font-size: 100% !default;
$global-width: 1200 !default;
